.boost_1 {
    background-color: #3500D3;
    color: white;
}

.boost_2 {
    background-color: #0C0032;
    color: white;
}

.boost_3 {
    background-color: #0C0032;
    color: white;
}

.boost_4 {
    background-color: #0C0032;
    color: white;
}

.boost_5 {
    background-color: #0C0032;
    color: white;
}

.bg_color {
     background-color="#1A1A1D";
}