{% extends 'base.html' %}

{% block title %}
Восстановление пароля
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Восстановление пароля</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Забыли пароль? Введите ваш email ниже,<br>
        мы отправим инструкцию на вашу почту</p><br>

    <form action="{% url 'password_reset' %}" method="post">
      {{ form }}
      {% csrf_token %}<br>
        <br>
      <button type="submit" class="w-50 btn btn-primary btn-lg">Сбросить пароль</button>
    </form>
  </div>
</div>
{% endblock %}
