{% extends 'base.html' %}
{% load static %}


{% block title %}
Supa clicker
{% endblock %}


{% block js_additional %}
  <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
{% endblock %}


{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Игра!</h1>
  <div class="col-lg-6 mx-auto">

    <div class="container">
      <div id='coins'>{{core.coins}}</div>
      <button onclick="call_click()">Кнопка</button>
      <br>
      <p>
        Невероятная мощь клика: <span id="click_power">{{ core.click_power }}</span>
      </p>
    </div>

    <aside class="boosts" id="boosts">
            <h3>Бусты</h3>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </aside>

  </div>

</div>
{% endblock %}