{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Это твой профиль!</h1>
  <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if user.is_authenticated %}
          <p class="lead mb-4">Тут тоже ничего нет</p>
          <a href="{% url 'logout' %}">Выйти</a>
          {% else %}
          <p class="lead mb-4">Ты еще не зарегестрирован</p>
          <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Зарегестрироваться</a>
          {% endif %}
      </div>
  </div>
</div>
{% endblock %}